.blog {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-left: 50px;
  border-radius: 4px;
  width: 90%;
  height: 180px;
  background-color: var(--primary-backround);

  @media only screen and (max-width: 940px) {
    // margin-left: 10px;
    margin:20px;
  }

  @media only screen and (max-width: 800px) {
    height: 150px;
  }
  &:hover {
    background-color: var(--secondary-backround);
  }
  .blog-left {
    padding-left: 30px;

    .blog-header {
      display: flex;
      flex-direction: row;
      
      .username {
        font-size: 15px;
        padding: 0px;
        color: var(--accent-color);
        margin-bottom: 5px;
      }

      .avatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 7px;
        object-fit: cover;
        margin-top: 22px;
      }
    }

    .title {
      margin: -6px 0 0 0;
      font-size: 23px;
      color: #1e1e1e;

      @media only screen and (max-width: 800px) {
        font-size: 20px;
        // padding: 4px 8px;
      }

      @media only screen and (max-width: 660px) {
        font-size: 17px;
        // padding: 4px 8px;
      }

      &:hover {
        text-decoration: underline;
        color: black;
      }
    }

    .short-content {
      color: #292a29;
      margin: 0px;
      overflow:visible;

      @media only screen and (max-width: 800px) {
        font-size: 13px;
        // padding: 4px 8px;
      }
      // @media only screen and (max-width: 680px) {
      //   display: none;
      // }
    }

    .blog-footer {
      color: var(--accent-color);
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: -10px;

      @media only screen and (max-width: 800px) {
        font-size: 13px;
      
      }

      .category {
        margin-left: 10px;
        padding: 2px 7px;
        background-color: #a6c7a6;
        border-radius: 5px;
        @media only screen and (max-width: 480px) {
          padding: 1px 3px;
        }

        &:hover {
          background-color: #a6c7a6;
        }
      }

      .date {
        padding: 2px 2px  2px 0;
      }
    }
  }

  .blog-right {
    .blog-img {
      width: 300px;
      height: 180px;
      object-fit: cover;

      @media only screen and (max-width: 800px) {
        width: 250px;
        height: 150px;
      }

      @media only screen and (max-width: 580px) {
        width: 150px;
        height: 100%;
      }
    }
  }
}
