.blog {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-left: 50px;
  border-radius: 4px;
  width: 90%;
  background-color: var(--primary-backround);
  &:hover {
    background-color: var(--secondary-backround);
  }
  .blog-left {
    padding-left: 20px;
    .username {
      font-size: 15px;
      padding: 0px;
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 7px;
      }
    }

    .title {
      margin: -3px;
      &:hover{
        text-decoration: underline;
    }
    }

    .short-content {
      color: #292a29;
      margin: -5px;
    }

    div {
      color: var(--accent-color);
      display: flex;
      flex-direction: row;

      .category {
        margin-left: 5px;
        padding: 2px 7px;
        background-color: #a6c7a6;
        border-radius: 5px;
        &:hover {
          background-color: #a6c7a6;
        }
      }

      .date {
        padding: 2px;
      }
    }
  }

  .blog-right {
    img {
      width: 300px;
      height: 200px;
    }
  }
}
