@import "../blogs//blog.scss";

.comment {
  @extend .blog;
  flex-direction: column;
  padding: 10px 15px;
  width: 86%;
  height: fit-content;
  background-color: #fff;
  border: 1px solid var(--primary-backround);
  z-index: 1;
  @media only screen and (max-width: 460px) {
    padding: 7px 11px;
  }

  &:hover {
    background-color: #fff;
  }

  .comment-header {
    @extend .blog-header;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    padding: -10px 20px 0 0px;
    margin: 0;
    @media only screen and (max-width: 460px) {
      padding: 0 15px 0 0px;
    }

    .comment-avatar {
      @extend .avatar;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      padding: 0;
      margin: 0 15px 0 0;

      @media only screen and (max-width: 460px) {
        height: 18px;
        width: 18px;
        margin: 0 12px 0 0;
      }
    }
    .comment-author {
      @extend .username;
      font-size: 15px;
      padding: 0 auto 0 0;
      margin: 0;
      color: var(--primary-color);
      font-family: var(--author-font);

      @media only screen and (max-width: 460px) {
        font-size: 13px;
      }
    }

    .comment-date {
      @extend .date;
      color: var(--accent-backround);
      padding: 0 10px 0 0;
      margin: 0 0 0 auto;

      @media only screen and (max-width: 460px) {
        padding: 0 8px 0 0;
      }
    }
  }

  .comment-content {
    margin: 4px 0;
    font-size: 15px;
    font-family: var(--blog-text-font);
  }
  .delete-icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    padding: 1px 5px;
    border-radius: 2px;
    color: var(--primary-color);
    outline: none;
    border-color: var(--primary-color);
    &:hover {
      background-color: rgb(242, 117, 117);
      color: white;
      border-color: rgb(242, 117, 117);
    }
  }
  .delete-modal {
    position: fixed;
    background-color: rgba(76, 76, 76, 0.82);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      height: fit-content;
      background-color: white;
      border-radius: 4px;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
      padding: 10px 18px;
      width: 250px;
      text-align: center;
      .delete-confirmation {
        color: var(--primary-color);
        margin: 0;
        font-size: 18px;
      }
      .delete-description {
        font-size: 15px;
      }

      .modal-footer {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        .modal-delete-btn {
          width: 90px;
          padding: 0.5rem 0.7rem;
          background-color: var(--primary-backround);
          color: var(--primary-color);
          border: none;
          border-radius: 4px;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            background-color: rgb(242, 117, 117);
            color: white;
          }
        }
        .modal-cancel-btn {
          background-color: var(--primary-color);
          color: var(--primary-backround);
          border: none;
          width: 90px;
          border-radius: 4px;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            background-color: var(--hover-color);
            color: white;
          }
        }
      }
    }
  }
}
