.blog-article {
  background-color: var(--primary-backround);
  padding: 30px 0px 30px 50px;

  .blog-image{
    width: 100%;
    height: 10cm;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
  }
  .header-info {
    span {
      color: var(--primary-color);
    }
  }
  .body-content {
  }
  .post-edit {
  }
}
