.blog-article {
  background-color: var(--primary-backround);
  padding: 30px 0px 30px 50px;
  .title {
  }
  .header-info {
    span {
      color: var(--primary-color);
    }
  }
  .body-content {
  }
  .post-edit {
  }
}
