@import "../../pages/full-blog-page.scss";
.blog-article {
  padding: 60px 0px 30px 0px;

  .blog-container {
    text-align: left;
    width: 90%;
    margin: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    .blog-image {
      width: 100%;
      height: 10cm;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      font-size: 25px;
      color: var(--primary-color);
    }
    .header-info {
      font-size: 15px;
      color: #717471;
      span {
        color: var(--primary-color);
      }
    }
    .body-content {
      font-size: 18px;
      font-weight: 500;
      color: #333;
      line-height: 26px;
      word-wrap: break-word;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0 auto;
    }

    .post-engagements {
      display: flex;
      flex-direction: row;
      .post-edit {
        width: 100px;
        padding: 0.5rem;
        text-align: center;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: normal;
        cursor: pointer;

        a {
          text-decoration: none;
          color: var(--primary-color);
        }

        &:hover {
          color: var(--primary-color);
          font-weight: bold;
        }
      }
    }
  }

  .comments-container {
    .comments-title {
      @extend .more-title;
    }
  }
}
