.read {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 60px 0px;
  width: 100%;
  align-items: flex-start; /* align children at the top */


  .blogs {
    width: 900px;
    overflow: auto;
    max-height: 28cm;

    @media only screen and (min-width: 1150px) {
      width: 70%;
    }
    @media only screen and (max-width:  1160px) {
      width: 100%;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    scrollbar-width: none; /* for Firefox */
  }

  .line {
    margin-left: 0;
    // margin-top: 40px;
    height: 28cm;
    @media only screen and (max-width: 1200px) {
      display: none; transform: rotate(90deg);
    }
  }

  .blogs-trends-container {
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    @media only screen and (max-width: 1180px) {
      justify-content: space-around;
    }

    margin:0 30px auto auto;
    .header-trending {
      color: var(--hover-color);
      width: 100%;
      padding: 15px 20px;
      background-color: var(--primary-backround);

      @media only screen and (max-width: 800px) {
        font-size: 16px;
        padding: 11px 17px;
      }

      &::before {
        content: "-- ";
        color: var(--hover-color);
      }
    }

    .trending {
      padding: 0 20px;
    }
  }
}
