.read {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0 20px;


  .blogs {
    width: 60%;
    overflow: auto;
    flex: 3;
    height: 19cm;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    scrollbar-width: none; /* for Firefox */
  }

  .line {
    margin-left: 0;
    margin-top: 40px;
  }

  .blogs-trends-container {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex: 1;
   

    // margin: auto;
    .header-trending {
      color: var(--hover-color);
      width: 100%;
      padding: 15px 20px;
      background-color: var(--primary-backround);

      &::before {
        content: "-- ";
        color: var(--hover-color);
      }
    }

    .trending {
      padding: 0 20px;
    }
  }
}
