
.blogs-trends-container {
    display: flex;
    .blogs {
      width: 70%;
    }
    .line{
      margin-left: 0;
    }
    .trends {
      background-color: var(--secondary-backround);
      width: 30%;
    }
  }