.row {
  margin-top: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  // width: 70%;

  .row-items-container{
    display: flex;
    flex-direction: row;
    .row-item {
      margin-left: 5px;
      list-style: none;
      padding: 6px 10px;
      background-color: var(--secondary-color);
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 10px;
      min-width: 40px;
      color: var(--primary-backround);
      white-space: nowrap;
      &:hover{
        background-color: var(--hover-color);
      }
    }
  }
  
  .dropdown {
    border: 3px solid  var(--secondary-color);
    background-color:var(--primary-backround); 
    margin-left: 5px;
    border-radius: 10px;
    padding: 6px 10px;
    &:hover{
      background-color: var(--secondary-backround);
    }
    

    option:first-child {
      color: #ccc; // Set placeholder text color
      background-color: red;
    }
  }
}

