@import "../../pages/new-blog-form.scss";
.row {
  padding-left: 5%;
  margin-top: 15px;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;

  .row-items-container {
    display: flex;
    flex-direction: row;
    .row-item {
      margin-left: 5px;
      list-style: none;
      padding: 6px 10px;
      background-color: var(--secondary-color);
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 10px;
      min-width: 80px;
      color: var(--primary-backround);
      white-space: nowrap;

      @media only screen and (max-width: 800px) {
        font-size: 0.8rem;
        padding: 4px 8px;
      }
      &:hover {
        background-color: var(--hover-color);
      }
    }
  }
  .category-select {
    
    @extend .category-select;
   
  }

  .dropdown {
    border: 3px solid var(--secondary-color);
    // background-color: var(--primary-backround);
    margin-left: 5px;
    border-radius: 10px;
    padding: 6px 10px;
    color: var(--primary-color);
    outline: none;
    &:hover {
      background-color: var(--secondary-backround);
    }

    option {
      @extend .row-item;
      color: var(--primary-color);
      font-size: 1rem;

      &:first-child{
        font-size: 1rem;
      }
    }
  }
}
