.hero-container {
  background-color: var(--primary-backround);
  margin: -15px;
  .hero {
    display: flex;
    flex-wrap: wrap;
    padding: 80px;

    .hero-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: end;

      @media only screen and (max-width: 600px) {
        width: 90%;
      }
      .slogan {
        font-size: 30px;
        font-family: Georgia, "Times New Roman", Times, serif;
      }

      .tagline {
        font-size: 20px;
      }

      button {
        background-color: var(--primary-color);
        border-radius: 20px;
        padding: 8px 15px;
        border: none;
        margin-right: 20px;
        margin-top: 10px;
        width: 200px;
        font-size: 17px;

        &:hover {
          background-color: var(--hover-color);
        }

        .sign-up {
          display: inline-block;
          width: 100%;
          white-space: nowrap;
          padding: 1%;
          padding-right: 4px;
          color: var(--primary-backround);
          text-decoration: none;

          a {
            color: var(--primary-backround);
          }
        }
      }
    }

    .hero-right {
      width: 50%;
      align-content: center;

      img {
        width: 400px;
        margin-left: 60px;

        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
}
