.hero-container {
  background-color: var(--primary-backround);
  margin: 0;
  width: 100vw;
  padding-top: 30px;
  @media only screen and (max-width: 400px) {
    padding-top: 0px;
  }
  .hero {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 80px;

    @media only screen and (max-width: 800px) {
      padding: 10px 30px;
    }

    @media only screen and (max-width: 400px) {
      padding: 0px 20px;
     }

    .hero-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (max-width: 800px) {
        width: 95%;
      }
      .slogan {
        font-size: 30px;
        font-family: Georgia, "Times New Roman", Times, serif;

        @media only screen and (max-width: 800px) {
          font-size: 25px;
        }
      }

      .tagline {
        font-size: 20px;
        margin-top: 0;

        .span {
          color: var(--primary-color);
          background-color: #cad8c5;
          min-width: 300px;
          padding: 5px 15px;
          border-radius: 20px;
          margin: 0 20px 0 10px;
          line-height: 30px;
          white-space: nowrap;
        }
      }

      button {
        background-color: var(--primary-color);
        border-radius: 20px;
        padding: 8px 15px;
        border: none;
        margin: 10px 20px 0 0;
        width: 79%;
        font-size: 20px;
        font-family: Georgia, "Times New Roman", Times, serif;
        @media only screen and (max-width: 400px) {
          width: 160px;
          font-size: 15px;
          align-self: center;
          margin-bottom: 20px;
        }

        &:hover {
          background-color: var(--hover-color);
        }

        .sign-up {
          display: inline-block;
          width: 100%;
          white-space: nowrap;
          padding: 1%;
          padding-right: 4px;
          color: var(--primary-backround);
          text-decoration: none;

          a {
            color: var(--primary-backround);
          }
        }
      }
    }

    .hero-right {
      width: 50%;
      align-content: center;

      img {
        width: 500px;
        margin-left: 30px;

        @media only screen and (max-width: 800px) {
          display: none;
        }
      }
    }
  }
}
