.about {
  margin: 70px 0 0 0;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: self-start;

  .about-article {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px;
    background-color: var(--primary-backround);
    border-radius: 5px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: 1200px) {
      width: 300px;
    }

     @media only screen and (max-width: 740px) {
          width: 80%;
          // height: 80%;
        }
    .about-header {
      display: flex;
      flex-direction: row;
      width: 250px;
      margin-right: 20px;
      .about-avatar {
        background-color: var(--primary-color);
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 5px 0 0 5px;
        @media only screen and (max-width: 1200px) {
          width: 300px;
          height: 300px;
          border-radius: 5px 5px 0 0 ;
        }

        @media only screen and (max-width: 740px) {
          width: inherit;
          height:   auto;
        }
      }
    }

    .about-main {
      padding: 10px 20px;
      width: 70%;
      font-family: Georgia, "Times New Roman", Times, serif;
      @media only screen and (max-width: 1200px) {
        width: 90%;
      }

      .about-tag {
        font-size: 18px;
        a {
          text-decoration: none;
        }
        span {
          color: var(--primary-color);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .about-body {
        font-size: 17px;
        line-height: 1.5rem;
      }
    }
  }
}
