.footer {
  background-color: var(--primary-color);
  color: var(--primary-backround);
  width: device-width;
  margin: 0px;
  padding-bottom: 5px;
  position: relative;
  z-index: 3;
  font-family: var(--author-font);

  .top {
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-backround);
    display: flex;
    justify-content: space-around;

    .company {
      width: 250px;
      color: var(--primary-backround);

      .slogan{
        @media only screen and (max-width: 400px) {
          font-size: 15px;
        }
      }
      .source-code {
        display: flex;
        align-items: center;
        padding: 4px;

        @media only screen and (max-width: 400px) {
          font-size: 15px;
        }
      }

      a {
        color: var(--primary-backround);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: white;
        }
      }
      img {
        width: 100px;
      }
    }

    .developer {
      @extend .company;
      display: flex;
      flex-direction: column;
      width: 170px;
      @media only screen and (max-width: 400px) {
        width: fit-content;
        margin-top:10px;
      }

      h5 {
        font-size: 15px;
        margin-bottom: 7px;
        margin-top: 0;
        @media only screen and (max-width: 400px) {
          font-size: 15px;
        }
      }

      a {
        display: flex;
        align-items: center;
        padding: 4px;
        @media only screen and (max-width: 400px) {
          font-size: 13px;
        }
      }
    }

    .privacy {
      @extend .developer;
    }

    .categories {
      p {
        margin: 0;
      }
      @extend .developer;
    }
  }

  .bottom {
    // color: rgb(177, 181, 178);
    text-align: center;
    width: 100%;
  }
}
