.footer {
  background-color: var(--primary-color);
  color:var(--primary-backround);
  width: 100%;
  margin: 0px;
  padding-bottom: 5px;
  position: relative;
  z-index: 3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  .top {
    padding:  20px  20px 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--primary-backround);

    .company {
      width: 350px;
      color:  var(--primary-backround);
      
      a {
        color:  var(--primary-backround);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color:white
        }
      }
      img {
        width: 100px;
      }
    }

    .developer {
      display: flex;
      flex-direction: column;
      width: 240px;
      @extend .company;
      h5 {
        font-size: 17px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 7px;
        margin-top: 0;
      }
    }

    .privacy {
      @extend .developer;
    }

    .categories {
      p{margin :0;}
      @extend .developer;
    }
  }

  .bottom {
    // color: rgb(177, 181, 178);
    text-align: center;
    width: 100%;
  }
}
