.footer {
  background-color: var(--primary-color);
  margin: -8px;
  color: white;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .company {
    width: 300px;
    img {
      width: 100px;
    }
  }

  .developer{
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .privacy{
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .categories{
    display: flex;
    flex-direction: column;
    width: 200px;
  }
}
