.full-blog {
  display: flex;
  flex-wrap: wrap-reverse;

  .main {
    width: 70%;
    overflow:auto;
    height: 30cm;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    scrollbar-width: none; /* for Firefox */
    
  }

  .side {
    width: 25%;
    margin-right: 10px;
    .header-trending {
      color: var(--hover-color);
      width: 100%;
      padding: 15px 20px;
     
      background-color: var(--primary-backround);

      &::before {
        content: "-- ";
        color: var(--hover-color);
      }
    }
  }
}
