.full-blog {
  display: flex;
  flex-wrap: wrap-reverse;

  .main {
    width: 70%;
    overflow: auto;
    .blog-article {
      background-color: var(--primary-backround);
      padding: 30px 0px 30px 50px;
    //   margin: auto;
    }
  }

  .side {
    width: 25%;
    margin-right: 10px;
    .header-trending {
      color: var(--hover-color);
      width: 100%;
      padding: 15px 20px;
     
      background-color: var(--primary-backround);

      &::before {
        content: "-- ";
        color: var(--hover-color);
      }
    }
  }
}
