@import "../components//blogs/read.scss";
@import "../components/sidebar//trend.scss";

.full-blog {
  @extend .read;
  flex-wrap: wrap;
     


  .main {
    @extend .blogs;
  //  background-color: var(--primary-backround);
  background-color: white;
    // // width: 100%;
    // overflow: auto;
   
    // &::-webkit-scrollbar {
    //   width: 0;
    //   height: 0;
    // }
    // scrollbar-width: none; /* for Firefox */

    .more-title {
      color: var(--hover-color);
      width: 85.5%;
      padding: 15px 20px;
      background-color: var(--primary-backround);
      font-size: 20px;
      margin-left: 50px;
      @media only screen and (max-width: 800px) {
        font-size: 16px;
        padding: 11px 17px;
      }

      &::before {
        content: "-- ";
        color: var(--hover-color);
      }
    }

    .more-blogs{
      background-color: #fff;
      height: 18cm;
    }
  }

  .side {
    @extend .blogs-trends-container;

    .user-profile {
      // @extend .
      width: 100%;
      .bio {
        width: 280px;
      }
    }
    // width: 300;
    //   margin-right: 10px;
    //   .header-trending {
    //     color: var(--hover-color);
    //     width: 100%;
    //     padding: 15px 20px;

  

    //     &::before {
    //       content: "-- ";
    //       color: var(--hover-color);
    //     }
    //   }
  }
}
