@import "../components//blogs/read.scss";
@import "../components/sidebar//trend.scss";

.full-blog {
  @extend .read;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
  min-height: 700px;
  &:nth-child(1) {
    order: 1;
  }
  &:nth-child(2) {
    order: 3;
  }
  &:nth-child(3) {
    order: 2;
  }
  min-height: 80vh;

  @media only screen and (max-width: 400px) {
    padding: 0px 0 0 0;
  }

  .main {
    @extend .blogs;
    background-color: white;
    .more-title {
      color: var(--hover-color);
      width: 85.5%;
      padding: 15px 20px;
      background-color: var(--primary-backround);
      font-size: 20px;
      margin-left: 50px;
      font-family: var(--subheadings-font);

      @media only screen and (max-width: 800px) {
        font-size: 16px;
        padding: 11px 17px;
      }

      @media only screen and (max-width: 940px) {
        margin-left: 20px;
      }

      &::before {
        content: "-- ";
        color: var(--hover-color);
      }
    }

    .more-blogs {
      background-color: #fff;
      height: fit-content;
    }
  }

  .side {
    @extend .blogs-trends-container;

    .user-profile {
      // @extend .
      width: 100%;
      .bio {
        width: 280px;
      }
    }
   
  }
}
