.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-backround);
  padding: 5px;
  margin: -7px 0 0 -5px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 5;

  .logo {
    margin: 3px 0 0 5%;
    img {
      width: 120px;
    }
  }

  .nav-link-container {
    display: flex;
    margin-right: 15px;
    padding: 0;
    list-style: none;
    height: 2rem;
    width: 80%;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;

    .nav-link-grey {
      margin: -3px 10px 11px 0;
      display: inline-block;
      width: 40px;
      white-space: nowrap;
      padding: 1%;
      padding-right: 4px;
      padding-bottom: 3px;

      .active-style-grey {
        color: #205d2e;
        font-weight: 600;
        display: inline-block;
        position: relative;
        text-decoration: none;
        margin-top: 0px;

        &::after {
          content: "";
          display: block;
          height: 2px;
          background-color: #4d7e3e;
        }
      }

      a {
        padding: 3px;
        color: var(--primary-color);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        padding: 4px 0px;
        display: inline-block;
        position: relative;

        &:hover {
          color: #205d2e;
          font-weight: 600;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: var(--accent-color);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }

    .nav-link-green {
      @extend .nav-link-grey;

      .active-style-green {
        @extend .active-style-grey;
        color: var(--primary-backround);
      }

      a {
        color: var(--primary-backround);

        &:hover {
          color: var(--secondary-backround);
        }
        &::after {
          background-color: var(--secondary-backround);
        }
      }
    }
  }

  .sign-up-btn-grey {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 8px 15px;
    border: none;
    margin: 10px 5% 4px 0;

    &:hover {
      background-color: var(--hover-color);
    }

    .sign-up {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      padding: 1%;
      padding-right: 4px;
      color: var(--primary-backround);
      text-decoration: none;
      font-size: 17px;

      a {
        color: var(--primary-backround);
        font-size: 20px;
      }
    }
  }

  .sign-up-btn-green {
    @extend .sign-up-btn-grey;
    background-color: var(--primary-backround);

    &:hover {
      background-color: var(--secondary-backround);
    }

    .sign-up-green {
      @extend .sign-up;
      color: var(--primary-color);
      a {
        color: var(--primary-color);
      }
    }
  }

  .profile {
    border: 1px solid var(--secondary-backround);
    border-radius: 20px;
    padding: 0px 15px 0 8px;
    display: flex;
    flex-direction: row;
    min-width: 100px;
    margin: 0 20px 0 0;
    height: 2.3rem;
    width: max-content;
    color: var(--accent-backround);

    &:hover {
      background-color: #ccc;
    }

    .username {
      text-align: center;
      margin: auto;
      padding-left: 5px;
    }

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: auto 0 auto auto;
    }
    .expand-icon {
     margin:auto 0 auto auto;
     &:first-child{
      padding: auto;
     }
      
    }
  }
}
