.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-backround);
  padding: 5px;
  margin: -5px  -5px -7px -5px;
  justify-content: center;

  .logo {
    // width: 10%;
    img{
      width: 120px;
    }
  
  }

  .nav-link-container {
    display: flex;
    margin-right: 15px;
    padding: 0;
    list-style: none;
    height: 2rem;
    width: 80%;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
   
  

    .nav-link {
      margin: 4px 10px;
      display: inline-block;
      width: 40px;
      white-space: nowrap;
      padding: 1%;
      padding-right: 4px;
      margin-top: auto;
      margin-bottom: auto;
     

      a {
        padding: 3px;
        color: var(--primary-color);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        padding: 4px 0px;
        display: inline-block;
        position: relative;

        &:hover {
          color: var(--accent-color);
          font-weight: 600;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: var(--accent-color);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }

  button {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 8px 15px;
    border: none;
    margin-right: 9px;
    margin-top: 10px;
    margin-left: 4px;

    .sign-up {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      padding: 1%;
      padding-right: 4px;
     
      color: var(--primary-backround);
      text-decoration: none;
      font-size: 17px;
      
  
      a {
        color: var(--primary-backround);
        font-size: 20px;
      }
    }
  }
}
