.blog-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin: 30px auto;
  min-height: 13cm;
  padding: 50px 0 0 0;

  .title-input {
    border: 3px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: 95%;
    color: var(--accent-backround);
    &:hover{
      border-color: var(--primary-color);
      outline: none; /* remove the default blue outline */
    }

    &:focus {
      border-color: var(--primary-color);
      outline: none; /* remove the default blue outline */
    }
  }
  .image-label {
    display: block;
    margin-bottom: 0.5rem;
    .image-input {
      @extend .title-input;
    }
  }

  .content {
    @extend .title-input;
  }
  .category-select {
    @extend .title-input;
    width: 97%;
    option {
      background-color: white;
      &:hover {
        background-color: var(--accent-color);
      }
    }
  }

  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--secondary-backround);
    color: var(--accent-backround);
    border-radius: 4px;
    border: none;
    font-size: 1rem;

    &:hover {
      background-color: var(--accent-backround);
      color: var(--primary-backround);
    }
  }

  input[type="file"] {
    display: none;
  }
  .submit-button {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-backround);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--hover-color);
      color: white;
    }
  }
}
