.user-profile {
  display: flex;
  flex-direction: column;
  padding: 17px 10px 10px;
  align-items: center;
  .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    padding: 3px;
  }

  .username {
    color: var(--hover-color);
    margin:6px 0px 0px 0px;
    padding: 0;
    font-size: 20px;
  }

  .head-tag {
    text-align: center;
    margin: 0;
    font-size: 15px;
    color: #494a49;
  }
}
