.trend {
  width: 280px;
  margin-bottom: 30px;

  @media only screen and (max-width: 1180px) {
    width: 400px;
  }

  @media only screen and (max-width: 880px) {
    width: 85vw;
  }

  .trend-content {
    padding-left: 20px;
    &:hover {
      color: black;
    }

    .username {
      font-size: 12px;
      padding: 1px;
      margin: 0px;
      color: #454745;
      font-family: var(--author-font);

      @media only screen and (max-width: 800px) {
        font-size: 11px;
      }
      img {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    .title {
      margin: 0px;
      font-size: 17px;
      color: #494a49;
      padding: 0;
      cursor: pointer;
      font-family: var(--blog-title-font);
      @media only screen and (max-width: 800px) {
        font-size: 16px;
        // padding: 4px 8px;
      }
      &:hover {
        text-decoration: underline;
        color: black;
      }
    }
    .short-content {
      margin: 0px 0;
      font-size: 14px;
      font-family: var(--blog-text-font);
    }
    .trend-footer {
      margin: 0px;
      // margin-left: -25px;
      display: flex;
      flex-direction: row;
      font-size: 14px;

      @media only screen and (max-width: 800px) {
        font-size: 12px;
        // padding: 4px 8px;
      }

      .category {
        margin: 0 4px;
        padding: 1px 6px;
        background-color: var(--secondary-backround);
        border-radius: 5px;
        &:hover {
          background-color: var(--secondary-backround);
        }
      }

      .date {
        padding: 2px;
        margin: 0;
        color: var(--secondary-backround);
      }
    }
  }
}
