@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --primary-color: #4d7e3e;
  --secondary-color: #4d7e3e;
  --accent-color: #4d7e3e;
  --hover-color: #205d2e;
  --primary-backround: #eeeee4;
  --secondary-backround: #d1d2d2;
  --accent-backround: #6b6b6b;
  --h1-font: "Antic", sans-serif;
  --p-font: Arial, Helvetica, sans-serif;
}

p {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
